*{
    margin: 0;
    padding: 0;
}

.contadorButton {
    display: grid;
    align-items: center;
    justify-content: center;

}

#numero{
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}